@media screen and (min-width:320px) and (max-width:479px){
    footer.page-footer{left:0;text-align: center;position: relative;}
    .wrapper{
        margin-bottom: 0px;
    }
    .mobile-width-100{
        width:100% !important;

    }
    .availablityCard .cardTime p{
        font-size: 13px;
        text-align: center;
    }
    .availableEdit,.availableStatus,.availableDelete{
        width: 100%;
    text-align: center;
    font-size: 11px;
    padding: 3px 0;
    }
   
}
@media screen and (max-width:479px){
    
    .MbeBannerSection{min-height: 150px !important;}
    .navbar-brand{width:100%;text-align: center;margin-right:0px !important;padding: 0;}
    .navbar-brand img{width:75%;}
    .navbg{height:auto;}
    .loginInfoandLang{margin:auto;}
    .banner{height:auto;padding: 0px;}
    .bannerContent{width:100%;background: rgba(255,255,255,0.85); padding: 10px 0px;}
    .bannerContent h1{font-size: 24px;}
    .bannerContent p{font-size: 14px;line-height: 22px;margin: 0;text-align: justify;}
    .navbar-nav .nav-link,.languageSel span{font-size:14px;}
    .symptomcheckdiv{width:100%;padding:0px 10px;padding: 0px 0;
        position: relative;
        margin-top: 20px;    display: block;
        min-height: 135px;}
    .symptomcheckdiv .searchBtn{margin-left:0px;}
    .expend{font-size: 14px;}
    .symptomcheckdiv .searchSymptom{width:100%;margin-bottom:7px;}
    .symptomcheckdiv #symptomChecker{padding:10px;}
    .titles{font-size: 24px;margin: 15px 0px;}
    .ourServices,.faqSection{padding:0px;}
    .paddingLeft0{padding-left:15px !important;}
    .serviceList{margin-top: 10px;}
    .serviceBg{padding:20px 15px;}
    .serviceIcon{width:90px;height:90px;}
    .serviceBg h4{font-size:15px;}
    .serviceBg p,.serviceBg .readmore{font-size: 14px;}
    .serviceIcon img{width:100%;}
    .downloadApp{min-height:200px;background-size:cover;padding: 15px 0px;}
    .downloadappContent{width:90%;padding: 5px;}
    .downloadappContent h2{font-size: 16px;width:100%;margin-bottom:15px;line-height:25px;}
    .commonBtn{font-size: 14px;}
    .faqContent dl dt{font-size: 15px;display: flex;align-content: center;}
    .faqContent dl dd{font-size: 14px;text-align: justify;margin-inline-start: 35px;}
    .footerLink{text-align:center;}
    .footerLink a{font-size: 14px;}
    .footerCopyRights ul li{padding:7px;}
    .footerCopyRights p{font-size: 12px;}
    .footerLink ul{padding: 0px;text-align: left;justify-content:space-evenly;}

    .footerLink ul li a {display: block;padding:0px 10px;margin-bottom:10px;}
    .socialLogin ul li{display: inline-block;padding: 7px;}
    .socialLogin ul li a{width: 30px;
        height: 30px;
        display: block;padding: 0;}
     .socialLogin ul li a img {
       width: 15px;
     }
     .google img {
        width: 25px !important;
    }
    .forgotPass,.linkToReg{font-size: 14px;}
    .loginSection{display: block;padding-bottom: 30px;}
    .loginFormContent{width: 100%; padding: 5px;display: block;}
    .socialLogin{width: 100%;
        margin-left: 0;
        border-left: none;
        border-top: 1px solid #ddd;
        height: auto;padding-top: 15px;
    }
    .popupTitle{
        font-size: 17px;
    }
    .loginInner{width: 90%;flex-wrap: wrap;padding: 8px;margin: 20px auto;}
    .logoDiv {  position: relative;
            width: 200px;
            margin: auto;    display: block;}
    .registerAs ul li a{width:190px;}
    .registerAs ul li a svg{width:80px;height:80px;}
    .registerAs ul li p{font-size: 16px;margin-top:10px;}
    .noteContent{font-size: 11px;}
}
@media screen and (min-width:320px) and (max-width:767px){
    .MbeBannerSection{padding: 0px; width: 100%;
        min-height: 200px;
        /* background: url(../images/bannerImage.jpg) no-repeat; */
        /* background-size: cover; */
        padding: 20px;
        position: relative;
       display: block;

        background-image: url("../images/mobileBanner.jpg");  
        background-repeat: no-repeat;  
        background-position: 0% 0%;
        background-size: 100% 100%;
    }
     .MbeBannerSection:after{
            content:'';
            position: absolute;
            right: 10px;
            bottom: 0;
            background: url(../images/mobileApp.png) no-repeat;
            width: 138px;
            height: 190px;
            background-position: top;
            background-size: contain;
     }
     .banner{background: #fff;min-height:300px;}
    .banner::after{display:none;}
    .bannerContent{width:100%;background: rgba(255,255,255,0.85); padding: 10px 0px;}

    .sidebar-toggle-box{display: block;border-radius: 4px; border:1px solid #ddd;padding: 8px;
        margin-top: 15px;
        right: 20px;}
    ul.sidebar-menu{padding-top: 100px;}
    .brand{width:100%;}
    #sidebar{margin-left:-240px;z-index: 1084;}
    .menuHideRes{margin-left:0px !important;}
    .marginLeftRes{margin-left:0px !important;}
    .wrapper{margin-top: 100px;}
    .top-nav {
        margin-top: 0px;
        width: 100%;
        float: left;
        margin-bottom: 5px;}
    .upload{margin-bottom:15px;}

    .commonTable {
        border: 0;
      }
    
      .commonTable caption {
        font-size: 1.3em;
      }
      
      .commonTable thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      .commonTable tr {
        border:1px solid #eaeef0;
        display: block;
        margin-bottom: .625em;
        padding: 10px;
        border-radius: 6px;
      }
      .commonTable tbody tr td{text-align:right;font-size: 14   px;}
      .commonTable td {
        border-bottom:1px solid #eaeef0;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      
      .commonTable td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        /* text-transform: uppercase; */
      }
      
      .commonTable td:last-child {
        border-bottom: 0;
      }
      .tableIcons{width: 30px;
        height: 30px;font-size: 14px;padding: 4px 8px;}
        .search-result-section .search-card2{
            width: 100%;}
}

@media screen and (min-width:480px) and (max-width:575px){
    .modalPopup{margin: 15px auto !important;}
    .wrapper{
        margin-bottom: 110px;
    }
}
@media screen and (min-width:480px) and (max-width:546px){
    .navbar-brand{width:100%;text-align: center;margin-right:0px !important;padding: 0;}
    .navbar-brand img{width:75%;}
    .navbg{height:auto;}
    .loginInfoandLang{margin:auto;}


}
@media screen and (min-width:480px) and (max-width:767px){
     .banner{min-height:auto;padding:15px;}
    .bannerContent{background: rgba(255,255,255,0.85);margin:unset;}
    .bannerContent h1{font-size: 24px;}
    .bannerContent p{font-size: 14px;line-height: 22px;margin: 0;text-align: justify;}
    .navbar-nav .nav-link,.languageSel span{font-size:14px;}
    .banner::after{width: 200px;
        height: 405px;right: 0;  }
    .symptomcheckdiv {width: 100%; z-index: 2;position: relative;margin-top:20px; }
    .symptomcheckdiv #symptomChecker{padding:10px;}
    .symptomcheckdiv .searchSymptom{width:70%;margin-bottom:10px;}
    .symptomcheckdiv .searchBtn{margin-left:0px;}
    .titles{font-size:32px;}
    .ourServices,.faqSection{padding:30px;}
    .downloadApp{padding:30px;min-height:auto;}
    .paddingLeft0{padding-left:15px !important;}
    .downloadappContent h2{font-size: 22px;width:100%;margin-bottom:15px;line-height:25px;}
    .commonBtn{font-size: 14px;}
    .footerLink a{font-size: 14px;}
    .footerCopyRights ul li{padding:7px;}
    .footerCopyRights p{font-size: 12px;}
    .footerLink ul{padding: 0px;text-align: left;justify-content:space-evenly;}

    .footerLink ul li a {display: block;padding:0px 10px;margin-bottom:10px;}

    .imagePreview,.upload{
        width: 250px;
        margin: 10px auto;
        display: block;
    }
    .loginSection{display: block;padding-bottom: 30px;}
    .loginFormContent{width: 100%; padding: 5px;display: block;    margin-bottom: 20px;}
    .loginFormContent::after{display:none;}
    .socialLogin{width: 100%;
        margin-left: 0;
        border-left: none;
        border-top: 1px solid #ddd;
        height: auto;    padding-top: 20px;}
    .loginInner{width: 90%;flex-wrap: wrap;padding: 8px;margin: 20px auto;}
    .logoDiv {  position: relative;
            width: 200px;
            margin: auto; display: block;}
            footer.page-footer{left:0;text-align: right}
}
@media screen and (min-width:480px)and (max-width:814px){
    footer.page-footer{left:0;text-align: right}
    .wrapper{
        margin-bottom: 110px;
    }
    .large-screen{
        position: relative;
        background: #fff;
        padding: 15px;
        box-shadow: 2px 2px 2px 2px #f1f1f1;
        margin-top: -1px;
    } 
    .large-screen .searchIcon{
        position: absolute;
        top: 18px;
        right: 23px;
    }
    .large-screen .searchResultSuggestion.slightchangedashboard{
        top: 53px !important;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    .banner{min-height:430px;padding:15px;}
    .bannerContent{background: rgba(255,255,255,0.85); padding:15px 10px;margin:auto;width:75%;}
    .bannerContent h1,.titles{font-size: 32px;}
    .bannerContent p{font-size: 14px;line-height: 22px;margin: 0;text-align: justify;}
    .banner::after{width: 200px;
        height: 405px;right:20px;  }
        .symptomcheckdiv {width: 500px; z-index: 2;}
        .symptomcheckdiv #symptomChecker{padding:10px;}
        .symptomcheckdiv .searchSymptom{width:68%;margin-bottom:10px;}
        .symptomcheckdiv .searchBtn{margin-left:10px;}

    
        .sidebar-toggle-box{display: block;border-radius: 4px; border:1px solid #ddd;padding: 8px;
            margin-top: 15px;
            right: 20px;}
        ul.sidebar-menu{padding-top: 100px;}
        .brand{width:100%;}
        #sidebar{margin-left:-240px;z-index: 1084;}
        .menuHideRes{margin-left:0px !important;}
        .marginLeftRes{margin-left:0px !important;}
        .wrapper{margin-top: 100px;}
        .top-nav {
            margin-top: 0px;
            width: 100%;
            float: left;
            margin-bottom: 5px;}
        .upload{margin-bottom:15px;}
        .loginInner{width:85%;}
        .logoDiv{width:190px;    display: block;}
        footer.page-footer{left:0;}
        .large-screen{
            position: relative;
            background: #fff;
            padding: 15px;
            box-shadow: 2px 2px 2px 2px #f1f1f1;
            margin-top: -1px;
        } 
        .large-screen .searchIcon{
            position: absolute;
            top: 18px;
            right: 23px;
        }
        .large-screen .searchResultSuggestion.slightchangedashboard{
            top: 53px !important;
        }
}
@media screen and  (min-width:814px) and (max-width:1054px){
    footer.page-footer{text-align: right}
    .wrapper{
        margin-bottom: 60px;
    }
}
@media screen and (min-width:991px) and (max-width:1199px){
    .banner{height:auto;padding:15px;background-size: 100% 100%;}
    .bannerContent{background: rgba(255,255,255,0.85); padding:15px 10px;margin:auto;}
    .bannerContent h1,.titles{font-size: 36px;}
    .serviceBg{min-height: 394px;}
    .symptomcheckdiv{z-index: 2;}
    .symptomcheckdiv {width: 55%; z-index: 2;}
    .symptomcheckdiv .searchBtn{margin-left:10px;}
    .loginInner{width:65%;}
    .registerAs ul li a{width:220px;}
    .wrapper{
        margin-bottom: 120px;
    }
    .large-screen{
        position: relative;
        background: #fff;
        padding: 15px;
        box-shadow: 2px 2px 2px 2px #f1f1f1;
        margin-top: -1px;
    } 
    .large-screen .searchIcon{
        position: absolute;
        top: 18px;
        right: 23px;
    }
    .large-screen .searchResultSuggestion.slightchangedashboard{
        top: 53px !important;
    }   
    .width900{
        max-width:900px !important;
    }
    
}

@media screen and (min-width:1200px){
    .banner::after{height:400px;bottom:50px;right:5px;}
    .loginInner{width:55%;}
    .wrapper{
        margin-bottom: 60px;
    }

    .large-screen{
        position: relative;
        background: #fff;
        padding: 15px;
        box-shadow: 2px 2px 2px 2px #f1f1f1;
        margin-top: -1px;
    } 
    .large-screen .searchIcon{
        position: absolute;
        top: 18px;
        right: 23px;
    }
    .large-screen .searchResultSuggestion.slightchangedashboard{
        top: 53px !important;
    }  
    .width900 {
        max-width: 900px !important;
    }
}



@media screen and (min-width:320px) and (max-width:479px){
    .inner-pageNew .brand{
        width:100%;
    }
    .inner-pageNew  a.logo{
        display: block;
        float: unset;
    }

    .inner-pageNew  a.backArrow{
        width: 10%;
        display: inline-block;
        text-align: center;
        /* height: 100%; */
        font-size: 17px;
        color: #d20b12;
    }
    .inner-pageNew  .mobileLogo{
        display: inline-block;
        width:80%;
    }
    
    .inner-pageNew  .body-content{
        padding-top: 80px;
        padding-bottom: 25px;
    }
    .inner-pageNew  .card-img1 img{
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
    .inner-pageNew .card-title {
      
        width: 100%;
        text-align: center;
    }
    .inner-pageNew .card-title h5{

        font-size: 14px;
    padding-top: 10px;
    font-weight: 600;
    }
    .inner-pageNew  .body-content .card{
        flex-direction: column;
        min-height: 105px;
    }
    .inner-pageNew  .card-img1{
        width: auto;
    }

    .inner-pageNew .sideMenu{
        width:100%;
        height:55px;
        bottom:0;
        top:auto;
    }
    .inner-pageNew .sidemenuItems li{
        padding: 5px;
        display: inline-block;
    /* border-right: 1px dashed #fff; */
    border-bottom:0;
    
    }
    .inner-pageNew .sidemenuItems{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        height: 100%;
    }
    .inner-pageNew  .sidemenuItems li:last-child{
        border-right:0;
    }
    .inner-pageNew .sidemenuItems li a img{
        width:30px;
    }
    .inner-pageNew .padLeft{
        padding-left:0.5rem !important;
    }
    .inner-pageNew  .padRig{
        padding-right:0.5rem !important;
    }
    .inner-pageNew  .mainMenuSide{margin-left:0px !important;}
    .inner-pageNew .inner-subMenu{    left: unset;
        width: 100%;
        position: sticky;
        z-index: 2;
        overflow: auto;}
        .inner-pageNew  #main-content{margin-left:0px;}
        .inner-pageNew  .top-nav{display: none;}
        .inner-pageNew  .submenuIcon{
        background: #fbfafa !important;
        box-shadow: none !important;
        border: 1px solid #ddd !important;
    }
    .inner-pageNew  .submenuIconImg{
        width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .inner-pageNew  .submenuIconImg img{
        width: 55px;
        height: 55px;
        object-fit: contain;
    }
    .inner-pageNew  .submenuIcon .card-title h5{
        color: #000;
        font-weight: 600; 
    }
    .inner-pageNew  .clrblue{
        background: #fe9365 !important;
    }
    .inner-pageNew   .clryellow{
        background: #0ac282 !important;
    }
    .inner-pageNew  .clrred{
        background: #fe5d70 !important;
    }
    .inner-pageNew  .clrpurple{
        background: #6741b3 !important;
    }
    .inner-pageNew  .sidemenuItems li{
        text-align: center;
    }
    .inner-pageNew .menu-text {
        display: block;
    }
    .inner-pageNew   .menu-text{
        /* margin-top: -10px; */
    }
    .inner-pageNew   .menu-text span{
        color:#000000;
        font-size: 8px;
        display: none;
    }


    .inner-pageNew   .bg-purple-card{
        background: #D20B12;
        background-image: url("../images/cream-pixels.png");
        /*  background: -webkit-linear-gradient(to right, #A95BFE, #667DFC); 
        background: linear-gradient(to right, #A95BFE, #667DFC);*/
        min-height: 220px;
    }
    .inner-pageNew    .bg-purple-card .card.user-profile-card{
        background: transparent !important;
        box-shadow: none;
    }
    .inner-pageNew  .mobileSearch{
        margin-top: 13px;
        text-align: center;
        /* z-index: 0; */
        margin-bottom: -30px;
    }
    .inner-pageNew   .mobileSearch input{
        width: 95%;
        height: 38px;
        border-radius: 10px;
        border: none;
        box-shadow: 1px 1px 7px 1px #bdbdbd;
        position: relative;
        padding: 0 30px 0 11px;
        outline:none;
        font-family: Nunito;
    }
    .inner-pageNew  .mobileSearch  .searchIcon{
        
        position: absolute;
        top: 8px;
        right: 43px;
    }
    .inner-pageNew   .mobileSearch .searchResultSuggestion.slightchangedashboard{
        top:42px !important;
    }
    .inner-pageNew  .genderInfo{width:100%;}
    .inner-pageNew .languageSel{
        text-align: center !important;
    }
    .search-result-section .search-card{
        width: 100%;}

         table.docTable tr{

            border: 1px solid #ccc !important;
            border-radius: 5px;
        }
        .table tbody tr td a.deleteBtn{
            padding:5px 10px;
        }


        /* video section */

        .chat-section .control-section{
            position: absolute;
            bottom: 0;
            left:18%;
            background: transparent;
        }
        .tab-menu-content-section{
            padding: 0;
        }
        .tomCardHead, .tomCardBody{
            width: 100%;
            float: left;
            padding: 3px;
        }
        .table tbody tr:nth-child(odd){
            background: #F75E5E;
            color: #ffffff;
        
        }
        .search-input .searchIcon
{
    right:10px;
}
.chat-conversion{
      height: 330px;
}
/* .inner-subMenu{
    display: none;
}       */

.mob-show-ad{
    display: block;
}
.mob-hide{
    display: none;
}
}
